In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_excel('fraud_data_lyst1751134022071.xlsx')
data.head()

,trans_date_trans_time,merchant,category,amt,city,state,lat,long,city_pop,job,dob,trans_num,merch_lat,merch_long,is_fraud
0,2019-04-01 00:58:00,"""Stokes, Christiansen and Sipes""",grocery_net,14.37,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",1939-09-11 00:00:00,a3806e984cec6ac0096d8184c64ad3a1,65.654142,-164.722603,1
1,2019-04-01 15:06:00,Predovic Inc,shopping_net,966.11,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",1939-09-11 00:00:00,a59185fe1b9ccf21323f581d7477573f,65.468863,-165.473127,1
2,2019-04-01 22:37:00,Wisozk and Sons,misc_pos,49.61,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",1939-09-11 00:00:00,86ba3a888b42cd3925881fa34177b4e0,65.347667,-165.914542,1
3,2019-04-01 23:06:00,Murray-Smitham,grocery_pos,295.26,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",1939-09-11 00:00:00,3a068fe1d856f0ecedbed33e4b5f4496,64.445035,-166.080207,1
4,2019-04-01 23:59:00,Friesen Lt,health_fitness,18.17,Wales,AK,64.7556,-165.6723,145,"""Administrator, education""",1939-09-11 00:00:00,891cdd1191028759dc20dc224347a0ff,65.447094,-165.446843,1

In [4]:
data.shape

(14446, 15)

population mean

In [5]:
population_mean = data['amt'].mean()
print('population mean: ', population_mean)

population mean:  124.43007337671327

sample mean

In [6]:
sample = data['amt'].sample(n=1000, random_state=42)
sample_mean = sample.mean()
print('Sample mean: ', sample_mean)

Sample mean:  119.54582999999998

Impact of sample size on sample mean : As the sample size increases, the sample mean becomes a better estimator of the population mean. This is one of the key ideas of the Central Limit Theorem.

In [7]:
sample_size = [10, 50, 100, 500, 1000, 5000, 7000]

sample_means = [data['amt'].sample(n=size, random_state=42).mean() for size in sample_size]

for size, mean in zip(sample_size, sample_means):
    print(f'Sample Size: {size}, Sample Mean: {mean}')

Sample Size: 10, Sample Mean: 96.85499999999999
Sample Size: 50, Sample Mean: 88.3492
Sample Size: 100, Sample Mean: 81.8355
Sample Size: 500, Sample Mean: 112.06866000000001
Sample Size: 1000, Sample Mean: 119.54582999999998
Sample Size: 5000, Sample Mean: 123.99536800000001
Sample Size: 7000, Sample Mean: 126.52721