Question 1: Data Loading

Q1.1: How do you load the COVID-19 datasets for confirmed cases, deaths, and recoveries into Python using Pandas?

In [13]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

## Load the COVID-19 datasets for confirmed cases, deaths, and recoveries

confirm_cases = pd.read_csv('covid_19_confirmed_v1_lyst1747728690432.csv')
deaths = pd.read_csv('covid_19_deaths_v1_lyst1747728711771.csv')
recovered_people = pd.read_csv('covid_19_recovered_v1_lyst1747728719904.csv')

Question 2: Data Exploration
Q2.1: After loading the datasets, what is the structure of each dataset in terms of rows, columns, and data types?


Q2.3: Generate plots of confirmed cases over time for China.

In [14]:
## Row and Columns in the covid-19 datasets confirmed cases
print("Rows and Columns in Confirmed covid-19 cases:", confirm_cases.shape)

## Row and Columns in the covid-19 datasets deaths cases
print("Rows and Columns in Deaths covid-19 cases:", deaths.shape)

## Row and Columns in the covid-19 datasets recovered cases
print("Rows and Columns in Recovered peoples covid-19 cases:", recovered_people.shape)


## Data Type of covid-19 confirm cases , deaths, and recovered peoples
print("\nData type of Confirm Cases:")
print(confirm_cases.dtypes)

print("\nData type of Deaths Cases:")
print(deaths.dtypes)

Rows and Columns in Confirmed covid-19 cases: (276, 498)
Rows and Columns in Deaths covid-19 cases: (277, 498)
Rows and Columns in Recovered peoples covid-19 cases: (262, 498)

Data type of Confirm Cases:
Province/State     object
Country/Region     object
Lat               float64
Long              float64
1/22/20             int64
                   ...
5/25/21             int64
5/26/21             int64
5/27/21             int64
5/28/21             int64
5/29/21             int64
Length: 498, dtype: object

Data type of Deaths Cases:
Column1      object
Column2      object
Column3      object
Column4      object
Column5      object
              ...
Column494    object
Column495    object
Column496    object
Column497    object
Column498    object
Length: 498, dtype: object

Q2.2: Generate plots of confirmed cases over time for the top countries.

In [15]:
confirm_cases.head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,64575,65080,65486,65728,66275,66903,67743,68366,69130,70111
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132118,132153,132176,132209,132215,132229,132244,132264,132285,132297
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,126156,126434,126651,126860,127107,127361,127646,127926,128198,128456
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13569,13569,13569,13569,13569,13664,13671,13682,13693,13693
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,31661,31909,32149,32441,32623,32933,33338,33607,33944,34180
5,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,1255,1255,1257,1257,1258,1258,1258,1258,1259,1259
6,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,3447044,3482512,3514683,3539484,3562135,3586736,3622135,3663215,3702422,3732263
7,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,221559,221699,221880,221948,221982,222139,222269,222409,222513,222555
8,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,124,124,124,124,124,124,124,124,124,124
9,New South Wales,Australia,-33.86880,151.209300,0,0,0,0,3,4,...,5567,5568,5570,5572,5574,5576,5576,5579,5580,5585

In [22]:
confirm_cases = pd.melt(
    confirm_cases,
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'],
    value_vars= confirm_cases.columns[5:499],
    var_name='date_column',
    value_name='date_value'
)

In [25]:
confirm_cases.tail(10)

,Province/State,Country/Region,Lat,Long,date_column,date_value
136058,NaN,United Kingdom,55.378100,-3.436000,5/29/21,4480945
136059,NaN,Uruguay,-32.522800,-55.765800,5/29/21,288172
136060,NaN,Uzbekistan,41.377491,64.585262,5/29/21,99844
136061,NaN,Vanuatu,-15.376700,166.959200,5/29/21,4
136062,NaN,Venezuela,6.423800,-66.589700,5/29/21,231443
136063,NaN,Vietnam,14.058324,108.277199,5/29/21,6908
136064,NaN,West Bank and Gaza,31.952200,35.233200,5/29/21,307838
136065,NaN,Yemen,15.552727,48.516388,5/29/21,6731
136066,NaN,Zambia,-13.133897,27.849332,5/29/21,94751
136067,NaN,Zimbabwe,-19.015438,29.154857,5/29/21,38933