Question 1: Data Loading

Q1.1: How do you load the COVID-19 datasets for confirmed cases, deaths, and recoveries into Python using Pandas?

In [7]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

## Load the COVID-19 datasets for confirmed cases, deaths, and recoveries

confirm_cases = pd.read_csv('covid_19_confirmed_v1_lyst1747728690432.csv')
deaths = pd.read_csv('covid_19_deaths_v1_lyst1747728711771.csv')
recovered_people = pd.read_csv('covid_19_recovered_v1_lyst1747728719904.csv')

Question 2: Data Exploration
Q2.1: After loading the datasets, what is the structure of each dataset in terms of rows, columns, and data types?


Q2.3: Generate plots of confirmed cases over time for China.

In [8]:
## Row and Columns in the covid-19 datasets confirmed cases
print("Rows and Columns in Confirmed covid-19 cases:", confirm_cases.shape)

## Row and Columns in the covid-19 datasets deaths cases
print("Rows and Columns in Deaths covid-19 cases:", deaths.shape)

## Row and Columns in the covid-19 datasets recovered cases
print("Rows and Columns in Recovered peoples covid-19 cases:", recovered_people.shape)


## Data Type of covid-19 confirm cases , deaths, and recovered peoples
print("\nData type of Confirm Cases:")
print(confirm_cases.dtypes)

print("\nData type of Deaths Cases:")
print(deaths.dtypes)

Rows and Columns in Confirmed covid-19 cases: (276, 498)
Rows and Columns in Deaths covid-19 cases: (277, 498)
Rows and Columns in Recovered peoples covid-19 cases: (262, 498)

Data type of Confirm Cases:
Province/State     object
Country/Region     object
Lat               float64
Long              float64
1/22/20             int64
                   ...
5/25/21             int64
5/26/21             int64
5/27/21             int64
5/28/21             int64
5/29/21             int64
Length: 498, dtype: object

Data type of Deaths Cases:
Column1      object
Column2      object
Column3      object
Column4      object
Column5      object
              ...
Column494    object
Column495    object
Column496    object
Column497    object
Column498    object
Length: 498, dtype: object

Q2.2: Generate plots of confirmed cases over time for the top countries.

In [9]:
confirm_cases.head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,64575,65080,65486,65728,66275,66903,67743,68366,69130,70111
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132118,132153,132176,132209,132215,132229,132244,132264,132285,132297
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,126156,126434,126651,126860,127107,127361,127646,127926,128198,128456
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13569,13569,13569,13569,13569,13664,13671,13682,13693,13693
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,31661,31909,32149,32441,32623,32933,33338,33607,33944,34180
5,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,1255,1255,1257,1257,1258,1258,1258,1258,1259,1259
6,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,3447044,3482512,3514683,3539484,3562135,3586736,3622135,3663215,3702422,3732263
7,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,221559,221699,221880,221948,221982,222139,222269,222409,222513,222555
8,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,124,124,124,124,124,124,124,124,124,124
9,New South Wales,Australia,-33.86880,151.209300,0,0,0,0,3,4,...,5567,5568,5570,5572,5574,5576,5576,5579,5580,5585

In [10]:
confirm_cases = pd.melt(
    confirm_cases,
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'],
    value_vars= confirm_cases.columns[5:499],
    var_name='date_column',
    value_name='date_value'
)

In [16]:
confirm_cases.head(10)

,Province/State,Country/Region,Lat,Long,date_column,date_value
0,NaN,Afghanistan,33.93911,67.709953,1/23/20,0
1,NaN,Albania,41.15330,20.168300,1/23/20,0
2,NaN,Algeria,28.03390,1.659600,1/23/20,0
3,NaN,Andorra,42.50630,1.521800,1/23/20,0
4,NaN,Angola,-11.20270,17.873900,1/23/20,0
5,NaN,Antigua and Barbuda,17.06080,-61.796400,1/23/20,0
6,NaN,Argentina,-38.41610,-63.616700,1/23/20,0
7,NaN,Armenia,40.06910,45.038200,1/23/20,0
8,Australian Capital Territory,Australia,-35.47350,149.012400,1/23/20,0
9,New South Wales,Australia,-33.86880,151.209300,1/23/20,0

In [17]:
confirm_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136068 entries, 0 to 136067
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  42398 non-null   object
 1   Country/Region  136068 non-null  object
 2   Lat             135082 non-null  float64
 3   Long            135082 non-null  float64
 4   date_column     136068 non-null  object
 5   date_value      136068 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 6.2+ MB

In [18]:
copy_confirm_cases = confirm_cases.copy()

In [19]:
copy_confirm_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136068 entries, 0 to 136067
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Province/State  42398 non-null   object
 1   Country/Region  136068 non-null  object
 2   Lat             135082 non-null  float64
 3   Long            135082 non-null  float64
 4   date_column     136068 non-null  object
 5   date_value      136068 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 6.2+ MB

In [20]:
copy_confirm_cases['date_column'] = pd.to_datetime(copy_confirm_cases['date_column'])

C:\Users\priya\AppData\Local\Temp\ipykernel_9024\4105570954.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  copy_confirm_cases['date_column'] = pd.to_datetime(copy_confirm_cases['date_column'])

In [22]:
copy_confirm_cases.dtypes

Province/State            object
Country/Region            object
Lat                      float64
Long                     float64
date_column       datetime64[ns]
date_value                 int64
dtype: object

In [23]:
highest_confirm_case = copy_confirm_cases.groupby('Country/Region').agg({'date_value':'max'})

In [24]:
highest_confirm_case

                    date_value
Country/Region
Afghanistan              70111
Albania                 132297
Algeria                 128456
Andorra                  13693
Angola                   34180
...                        ...
Vietnam                   6908
West Bank and Gaza      307838
Yemen                     6731
Zambia                   94751
Zimbabwe                 38933

[193 rows x 1 columns]