Conditonal Statements

In [ ]:
x = -10
if x > 0:
  print('x is positive')
else:
  print("x is not positive")

x is not positive

In [ ]:
x = 100

if x > 0:
  print("x is positive")

print("This is outside the if block")

x is positive
This is outside the if block

Given a number , verify that the number  is a multiple of 2 or not

In [ ]:
num = int(input("Enter the number:"))

## condition to check whether a number is a multiple of 2 or not
if num % 2 == 0:
  print("The number is a multiple of 2")
else:
  print("The number is not a multiple of 2")

Enter the number:33
The number is not a multiple of 2

In [ ]:
my_dict = {'a': 1, 'b':2, 'c':3}

## key to check
key_to_check = 'b'
if key_to_check in my_dict:
  print("Key is present in the dictionary")
else:
  print("Key is not present in the dictionary")

Key is present in the dictionary

In [ ]:
a = 10
b = 5
c = 8

if a > b and a > c:
  print('a is greater than b and c')
elif b > a and b > c:
  print('b is greater than a and c')
elif c > a and c > b:
  print('c is greater than a and b')
else:
  print('None of the above conditions are met')

a is greater than b and c

Nested Conditional Statement

In [ ]:
x = 10
y = 5

if x > 0:
  print('x is positive')
  if y > 0: # nested if
    print('y is positive')

x is positive
y is positive

In [ ]:
x = -10
y = 5
# the below if conditions are independent to each other
if x > 0:
  print('x is positive')
if  y > 0:
  print("y is positive")

y is positive

In [ ]:
age =  25
income = 500000

if age >= 18:
  print("you are eligible to vote")
  if income >= 300000:
    print("you are eligible to apply for a credit card")
  elif income >= 200000:
    print("you are eligible to apply for a personal loan")
  else:
    print("you are not eligible open a savings account")
else:
  print("you are not eligible to vote")

you are eligible to vote
you are eligible to apply for a credit card

shorthand if statement

In [ ]:
age = 25
if age >= 18: print("You are eligible for vote")

You are eligible for vote

In [ ]:
text = "hello python"
contains_words = True if "python" in text else False
print(contains_words)

True

In [ ]:
def multiple_of_2(num):
  if(num%2 == 0):
    return ("Multiple of two")
  else:
    return ("Not a  multiple of 2")
  num = int(input("Enter a number: "))
  print(multiple_of_2(num))

In [ ]:
score = 75

grade = 'A' if score >= 90 else('B' if score >= 80 else('C' if score >= 70 else 'D'))
print(grade)

C

write a program to take three side lengths and prints whether the triangle is equilateral, isosceles, or scalene

In [ ]:
side1 = int(input("Enter the value of side 1 :"))
side2 = int(input("Enter the value of side 2 :"))
side3 = int(input("Enter the value of side 3 :"))

if (side1 == side2 == side3):
  print("Equilateral Triangle")
elif (side1 == side2 or side2 == side3 or side3 == side1  ):
  print("Isosceles Triangle")
else:
  print("Scalene Triangle")

Enter the value of side 1 :4
Enter the value of side 2 :4
Enter the value of side 3 :5
Isosceles Triangle

In [ ]:
a = int(input())
b = int(input())
c = int(input())

ans = "Equilateral" if a == b == c else("Isosceles" if a == b or a == c or b == c else "Scalene")
print(ans)

3
3
4
Isosceles

Write a program that prints "Fizz" if a number is divisible by 3, "Buzz" if divisible 5, "FizzBuzz" if divisible by both , or the number itself otherwise.:

In [ ]:
num = int(input("Enter the number: "))

if num % 3 == 0 and num % 5 == 0:
  print("FizzBuzz")
elif num % 3 == 0:
  print("Fizz")
elif num % 5 == 0:
   print("Buzz")
else:
  print(num)

Enter the number: 77
77

In [ ]:
n = int(input("Enter a number: "))
ans = "Fizzbuzz" if n % 3 == 0 and n % 5 == 0 else("Fizz" if n % 3 == 0 else ("Buzz" if n % 5 == 0 else n))
print(ans)

Enter a number: 15
Fizzbuzz

Write a program that checks if a given string is a palindrome (reads the same backward).

In [ ]:
a = input("Enter a string: ")

if a == a[::-1]:
  print("Palindrome")
else:
  print("Not a Palindrome")

Enter a string: nitin
Palindrome

In [ ]:
x = "Hello world"
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)
print(x)

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [ ]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in number:
  if num % 2 == 0:
    print(f"{num} is even")
  else:
    print(f"{num} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [ ]:
numbers = [10, 50, 40, 30, 5, 25]
max_elment = numbers[0]
for num in numbers:
  if num > max_elment:
    max_elment = num

print("Maximum element in a given list is : ", max_elment)

Maximum element in a given list is :  50

In [ ]:
for i in range(6):
  print(i)

else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

List Comprehension

In [ ]:
square = [x ** 2 for x in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Generator Expression

In [ ]:
square = (x ** 2 for x in range(1,11))
print(square)

for squares in square:
  print(squares)

<generator object <genexpr> at 0x79759cabb5e0>
1
4
9
16
25
36
49
64
81
100

Nested for loop

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(i*j, end='\t')
  print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50

In [ ]:
n = int(input())

sum = 0
i = 2

while i <= n:
  sum += i
  i += 2

## 2 + 4 + 6 + 8 + 10
print(sum)

10
30

Nested while loop

In [ ]:
outer_count = 0

while outer_count < 3:
  print("outer loop iteration", outer_count)

  inner_count = 0
  while inner_count < 2:
    print("Inner loop iteration", inner_count)
    inner_count += 1

  outer_count += 1

outer loop iteration 0
Inner loop iteration 0
Inner loop iteration 1
outer loop iteration 1
Inner loop iteration 0
Inner loop iteration 1
outer loop iteration 2
Inner loop iteration 0
Inner loop iteration 1

Find the sum of all even number from 1 to 100 using for loop

In [ ]:
sum = 0
for number in range(2,101,2):
  # if number % 2 == 0:
    sum += number
print(sum)

2550

write a program to calculate the factorial of a number using a while loop

In [ ]:
num = int(input("Enter a number: "))

factorial = 1
while num > 1:
  factorial *= num
  num -= 1

print(factorial)

Enter a number: 5
120