Tuple

In [ ]:
my_tuple = (1, 2, 3)
type(my_tuple)

tuple

Initalization of tuple

In [ ]:
my_tuple[1]

2

Access the elements and Slicing Operations

In [ ]:
tuple1 = ('apple', 123, True, 3.14, [1, 2, 3])
print(tuple1[-1][1])

2

In [ ]:
print(tuple1[-1][-2])

2

In [ ]:
print(tuple1[1:4])

(123, True, 3.14)

In [ ]:
print(tuple1[:-1])

('apple', 123, True, 3.14)

In [ ]:
print(tuple1[::-1])

([1, 2, 3], 3.14, True, 123, 'apple')

convert tuple into a list

In [ ]:
tuple2 = ('shubham', 'preeti', 'Rashmi', 'Ajay', 'Riya')
list1 = list(tuple2)
print(list1)

['shubham', 'preeti', 'Rashmi', 'Ajay', 'Riya']

In [ ]:
list1.extend(["sushil", "jitender", "priya"])
print(list1)

['shubham', 'preeti', 'Rashmi', 'Ajay', 'Riya', 'sushil', 'jitender', 'priya', 'sushil', 'jitender', 'priya', 'sushil', 'jitender', 'priya']

In [ ]:
tuple2 = tuple(list1)
print(tuple2)

('shubham', 'preeti', 'Rashmi', 'Ajay', 'Riya', 'sushil', 'jitender', 'priya', 'sushil', 'jitender', 'priya', 'sushil', 'jitender', 'priya')

Built-in functions

In [ ]:
min_element = min(my_tuple)
max_element = max(my_tuple)
print(min_element)
print(max_element)

1
3

In [ ]:
sum_element = sum(my_tuple)
print(sum_element)

6

In [ ]:
tuple3 = (1, 2, 3, 4, 5, 6, 7, 2, 3, 4, 5, 6, 3)
# frequency of any given element
count_2 = tuple3.count(2)
print(count_2)

2

In [ ]:
pos = tuple3.index(2)
print(pos)

1

In [ ]:
pos = tuple3.index(20)
print(pos)

ValueError: tuple.index(x): x not in tuple

In [ ]:
tup  = (1)
list1 = [1]
type(tup)

int

In [ ]:
tuple4 = (2, )
print(tuple4)
type(tuple4)

(2,)

tuple

In [ ]:
my_tuple

(1, 2, 3)

In [ ]:
a , b, c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6, 7)
a, *b, c = my_tuple
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6]
7

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = ('A', 'B', 'C')
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 'A', 'B', 'C')

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = 7
combine = tuple1 + (tuple2)
print(combine)

TypeError: can only concatenate tuple (not "int") to tuple

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (7,)
combine = tuple1 + tuple2
print(combine)

(1, 2, 3, 7)

In [ ]:
## this is not tuple
tuple2 = (7)
type(tuple2)

int

Sets

In [ ]:
set1 = set() ## Empty set
set2 = {1, 2, 3}
set3 = {1 , "One", 3.4}

In [ ]:
print(set3)

{1, 3.4, 'One'}

In [ ]:
type(set3)

set

In [ ]:
set4 = {1,2,3,4,5,3,2,2,3,4,5,6,}
print(set4)

{1, 2, 3, 4, 5, 6}

In [ ]:
single_element_set = {1}
print(single_element_set)
type(single_element_set)

{1}

set

In [ ]:
my_string = "hello"
my_set = set(my_string)
print(my_set)

{'l', 'e', 'h', 'o'}

In [ ]:
list1 =  [1]
type(list1)

list

In [ ]:
my_set = {['a', 'b', 'c']}
print(my_set)

TypeError: unhashable type: 'list'

In [ ]:
my_set = {'a', 'b', 'c'}
print('a' in my_set)

True

In [ ]:
len(my_set)

3

In [ ]:
my_tuple = tuple(my_set)
print(my_tuple)

('a', 'b', 'c')

built-In funcitons

min(), max(), sum()

In [ ]:
my_set = {1, 2, 3, 4, 5, 6, 7}
my_set.add(9)

In [ ]:
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 9}

In [ ]:
my_set.update([8, 10, 2])
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
my_set_1 = {('a', 'b', 'c')}
print(my_set_1)

{('a', 'b', 'c')}

Join Sets

Union

In [ ]:
set1 = {1,2,3}
set2 = {4,5,6}
union_set = set1.union(set2) ## set2|set2
print(union_set)

{1, 2, 3, 4, 5, 6}

Intersection

In [ ]:
set1 = {1,2,3}
set2 = {4,5,3}
intersection_set = set1 & set2 ## set1.intersetion(set2)
print(intersection_set)

{3}

Difference

In [ ]:
set1 = {1,2,3}
set2 = {4,5,3}
difference_set = set1 - set2 ## set1.difference(set2)
print(difference_set)

{1, 2}

Symmetric difference

In [ ]:
set1 = {1,2,3}
set2 = {3,5,6}
symmetric_difference = set1.symmetric_difference(set2) ## set1 ^ set2
print(symmetric_difference)

{1, 2, 5, 6}

Task : to explore and give me the difference between the above methods vs the _update() methods in the set.

difference_update()

intersection_update() and so on

Task : Merge the below two tuples and then remove the duplicates values and return the final output as a tuple.


tup1 = (1,2,3 )
tup2 = (3, 4, 5)

In [ ]:
tup1 = (1,2,3)
tup2 = (3,4,5)
set1 = set(tup1)
set2 = set(tup2)
set3 = set1|set2
tup3 = tuple(set3)
print(tup3)

(1, 2, 3, 4, 5)

In [ ]:
#function define
def merge_and_remove_duplicates(tup1, tup2):
  return tuple(set(tup1) | set(tup2))

# driver code
tup1 = (1, 2, 3)
tup2 = (3, 4, 5)

# function calling
print(merge_and_remove_duplicates(tup1, tup2))

(1, 2, 3, 4, 5)

Dictionaries in Python

In [ ]:
my_dict = {"name": "priyavart" , "age": 23, "city": "delhi"}
print(my_dict)

{'name': 'priyavart', 'age': 23, 'city': 'delhi'}

In [ ]:
my_dict["name"]

'priyavart'

In [ ]:
scores = {'alice': 85, 'bob': 92, 'charlie': 78}
print(scores)

{'alice': 85, 'bob': 92, 'charlie': 78}

In [ ]:
scores['charlie']

78

Built-in methods

In [ ]:
print(my_dict.keys())

dict_keys(['name', 'age', 'city'])

In [ ]:
print(my_dict.values())

dict_values(['priyavart', 23, 'delhi'])

In [ ]:
print(my_dict.items())

dict_items([('name', 'priyavart'), ('age', 23), ('city', 'delhi')])

In [ ]:
min_score = min(scores.values())
print(min_score)

78

In [ ]:
my_dict

{'name': 'priyavart', 'age': 23, 'city': 'delhi'}

In [ ]:
my_dict['salarry'] = '500000000000000000000000000000000000'
print(my_dict)

{'name': 'priyavart', 'age': 23, 'city': 'delhi', 'salarry': '500000000000000000000000000000000000'}

In [ ]:
my_dict.update({'age' : 20})
print(my_dict)

{'name': 'priyavart', 'age': 20, 'city': 'delhi', 'salarry': '500000000000000000000000000000000000'}

In [ ]:
del my_dict['age']
print(my_dict)

{'name': 'priyavart', 'city': 'delhi', 'salarry': '500000000000000000000000000000000000'}

Task:Check if all the elements in the list are unique or not

list1 = [1,2,3,4,2]

output : False

In [ ]:
#funtion define
def all_unique(list1):
  return len(list1) == len(set(list1))

list1 = [1,2,3,4,2]

#funtion calling
print(all_unique(list1))

False

Task: count of occurence of each element a list.

lst = ['a', 'b' , 'c', 'c', 'a']
output:  {'a':3, 'b':2, 'c':1}

In [ ]:
lst = ['a', 'b' , 'c', 'c', 'a', 'a']

output = {}

for item in lst:
  if item in output:
    output[item] += 1
  else:
    output[item] = 1

print(output)

{'a': 3, 'b': 1, 'c': 2}

In [6]:
dict =  {'a':1,'b':2,'c':3}
swap = {value : key for key, value in dict.items()}
print(swap)

{1: 'a', 2: 'b', 3: 'c'}